@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-LightItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Regular.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-MediumItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Light.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Black.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-ExtraLight.woff2") format("woff2"),
    url("./fonts/subset-Mulish-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Bold.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-ExtraLightItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-BoldItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-SemiBold.woff2") format("woff2"),
    url("./fonts/subset-Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Medium.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-BlackItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-ExtraBoldItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-ExtraBold.woff2") format("woff2"),
    url("./fonts/subset-Mulish-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-Italic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src:
    url("./fonts/subset-Mulish-SemiBoldItalic.woff2") format("woff2"),
    url("./fonts/subset-Mulish-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src:
    url("./fonts/subset-Play-Bold.woff2") format("woff2"),
    url("./fonts/subset-Play-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Play";
  src:
    url("./fonts/subset-Play-Regular.woff2") format("woff2"),
    url("./fonts/subset-Play-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
