@import "./fonts.css";
@import "tailwindcss";

@theme {
  --font-primary: "Mulish", system-ui, sans-serif;

  --color-dusty-grape: #614b8e;
  --color-alabaster-grey: #daddd8;
  --color-soft-linnen: #ecebe4;
  --color-platinum: #eef0f2;
  --color-black: #080705;
}

.shadow-effect {
  overflow: visible;
  border-radius: 24px;
  position: relative;
  z-index: 0;
}

.shadow-effect-offset::after {
  top: -6px !important;
  left: -6px !important;
}

.shadow-effect::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--color-dusty-grape);
  z-index: -1;
  top: 0;
  left: 0;
  border-radius: 24px;
}

.backdrop-glass {
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 24px;
  position: relative;
  z-index: 0;
}

.backdrop-glass-offset {
  backdrop-filter: blur(3px) !important;
  -webkit-backdrop-filter: blur(3px);
}

.backdrop-glass::before {
  content: "";
  background-image: url("../assets/images/noise.svg#grainy");
  background-repeat: repeat;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: -1;
  border-radius: 24px;
}

.button-glass {
  transition: backdrop-filter 0.2s ease-in-out;
  position: relative;
}

.button-glass:hover {
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px);
}

.button-shadow::after {
  transition: transform 0.2s ease-in-out;
}

.button-shadow:hover::after {
  transform: translate(-6px, -6px);
}
