@import "tailwindcss";

@theme {
  --color-dusty-grape: #6e5b98;
  --color-alabaster-grey: #daddd8;
  --color-soft-linnen: #ecebe4;
  --color-platinum: #eef0f2;
  --color-black: #080705;
}

.shadow-effect {
  overflow: visible;
  border-radius: 24px;
  position: relative;
  z-index: 0; /* Установлен базовый уровень */
  /* width: 100%; */
  /* height: fit-content; */
}

.shadow-effect::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--color-dusty-grape);
  z-index: -1; /* Размещен ниже основного содержимого */
  top: 0;
  left: 0;
  border-radius: 24px;
}

.backdrop-glass {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 24px;
  position: relative;
  z-index: 0; /* Выше ::after, но ниже текста */
}

.backdrop-glass::before {
  content: "";
  background-image: url("./assets/images/noise.svg#grainy");
  background-repeat: repeat;
  filter: grayscale(100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  z-index: -1; /* На уровне основного содержимого backdrop-glass */
  border-radius: 24px;
}

.button-glass {
  transition: backdrop-filter 0.2s ease-in-out;
  position: relative;
  /* z-index: -1;  */
}

.button-glass:hover {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.button-shadow::after {
  transition: transform 0.2s ease-in-out;
  /* z-index: 1; */
}

.button-shadow:hover::after {
  transform: translate(-12px, -12px);
}
